@font-face {
    font-family: GFont;
    src: url('https://lagon93.github.io/GI_project/fonts/zh-cn.ttf');
}
* {
    font-family: GFont;
}
div.divFondo, div.divContenido {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0 none transparent;
    outline: 0 none transparnet;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
div.divFondo {
    z-index: 0;
    overflow: hidden;
    text-align: center;
    filter: blur(15px);
    background-image: url("https://lagon93.github.io/GI_project/img/Meseta_de_la_Ventisca.webp");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: center center;
}
div.divContenido {
    z-index: 8;
}
div.Vacio {
    height: 20vh;
}
div.Icono {
    height: 25vh;
}
img.Icono {
    width: auto;
    height: 25vh;
}
div.Titulo {
    padding-top: 3vh;
    height: 5vh;
    text-align: center;
    color: #DEA826;
    font-size: 3vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.0) 100%);
}
div.Texto {
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 2vh;
}
body.Slept div.Texto {
    color: transparent;
}
a.Boton, a.Boton:active, a.Boton:hover, a.Boton:visited {
    background-color: rgba(200, 200, 200, 0.4);
    border: 0.25vh solid white;
    color: white;
    font-size: 2vh;
    padding: 1vh 3vh;
    border-radius: 6vh;
    display: none;
    cursor: pointer;
}
body.Slept a.Boton{
    display: inline-block;
}
body.Slept div.Titulo span {
    display: none;
}
img {
    width: 25vh;
    height: 25vh;
}
img.Icono2 {
    display: inline-block;
}
img.Icono1 {
    display: none;
}
body.Slept img.Icono1 {
    display: inline-block;
}
body.Slept img.Icono2 {
    display: none;
}
@media (min-aspect-ratio: 1921/1080) {
    div.divFondo {
        background-size: 100vw auto;
    }
}